@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #ccc;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
}


.card{
	width: 150px;
	background-color: #fff;
	/* padding: 5px; */
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
    
}

.card img{
	width: 100%;
	border-radius: 5px;
}
.card strong{
	color: red;
}

.card .sp{
	display: flex;
	border-top:  3px solid #000;
	justify-content: space-between;
	align-items: center;
	padding: 7px 3px;
}

.buble{
	background-color: red;
	border-radius: 40%;
	padding: 7px;
	color: #fff;
}